.checkbox {
  display: flex;
}
.checkbox input {
  display: none;
}
.checkbox input + span {
  flex: 0 0 20px;
  content: ' ';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid var(--theme-gray400);
  cursor: pointer;
  margin-right: 8px;
}
.checkbox input:checked + span {
  background: var(--theme-blue400);
  border: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m11.06 15.46 5.4-5.4a.65.65 0 1 0-.919-.919l-4.941 4.94-2.818-2.818a.65.65 0 1 0-.919.919l3.278 3.278a.651.651 0 0 0 .919 0" style="fill:%23ffffff"/></svg>');
  background-position: 50% 50%;
}
.checkbox input + span + div {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  color: var(--theme-gray900);
  word-break: break-all;
}
