.input {
  flex: 1 1;
  border: 0;
  padding: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: var(--theme-gray900);
}
