.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item {
  padding: 14px 0;
  text-align: center;
  color: var(--theme-gray500);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid var(--theme-gray200);
}
.isActive {
  color: var(--theme-gray900);
  font-weight: 700;
  border-bottom: 2px solid var(--theme-primary);
}
